/* 
  ---GENERAL
*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after{
  content: '';
  display: table;
  clear: both;
}

.float-left{
  float: left;
}

.image-size{
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  overflow: hidden;
}

.image-overlay{
  background-color: rgba(0, 0, 0, 0.21);
  height: 100%;
}

/* ----------------------------------------- */


/* HEADER */
.container{
  width: 75%;
  max-width: 1000px;
  min-width: 800px;
  margin: 0 auto;
}

header.container{
  margin-bottom: 20px;
}

header .logo img{
  height: 60px;
  border-right: 1px solid #e6e6e6;
  padding-right: 15px;
}

.container nav ul li{
  list-style: none;
  display: inline-block;
  padding: 40px 15px 15px 0;
}

.container nav ul li a{
  color: #898989;
  text-transform: uppercase;
  text-decoration: none;
}

.head-main>p{
  color: #898989;
}
/* ----------------------------------------- */


/* JUMBOTRON */
section{
  margin: 20px auto;
  height: 400px;
  background-image: url(/img/banner.jpg);
  color: white;
}

.jumbotron-title{
  font-size: 2em;
}

.jumbotron-text{
  width: 55%;
  padding: 250px 0 0 35px;
}
/* ----------------------------------------- */



/* MAIN */
main.container{
  margin: 20px auto 10px;
}

h1{
  font-family: Arial, Helvetica, sans-serif;
}

.head-main{
  height: 60px;
  margin-bottom: 2%;
}

aside, .col-center{
  height: 450px;
}

aside{
  width: 20%;
  margin-bottom: 2%;
}

.col-center{
  margin: auto 2%;
  width: 56%;
  margin-bottom: 2%;
}

.col-sx .image-size, .col-center .image-size, .col-dx .image-size{
  height: 35%;
}

main .col-sx .image-size{
  background-image: url(/img/img-1.jpg);
}

main .col-center .image-size{
  background-image: url(/img/banner-2.jpg);
}

main .col-dx .image-size{
  background-image: url(/img/img-3.jpg);
}


.main-text{
  margin: 18px auto;
  color: #ababab;
}

.main-text .col-title{
  font-weight: 500;
  padding-bottom: 10px;
  color: black;
}
/* ----------------------------------------- */



/* FOOTER */
footer p{
  margin: 20px auto;
  text-align: center;
}

#hearth{
  color: red;
}